<%= div_for comment do %>
        <p>
        	<strong>
        	    <span class="user">
        	    	<%= link_to comment.user.name, comment.user %>
        	    </span>
        	</strong>
                
                        Posted <%= time_ago_in_words(comment.created_at) %> ago
                
                <br/>
            <strong>
                <span class="name">
                    <%= link_to comment.movie.name, comment.movie %>
                </span>
            </strong>  
                <%= comment.body %>
                <br/>
                <% if current_user?(comment.user) %>
                <%= link_to "delete", [comment.movie, comment], method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: comment.body %>
      <% end %>
        </p>

         <div id="reply">
             
         </div>
 <%= form_for [comment.movie ,Reply.new] do |f| %>
           
        <p>
                <%= f.label :body, "New reply" %><br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add reply" %></p>
        <% end %>  
       
<% end %>