<h1>Listing movies</h1>

     <%= form_tag(@movie, :method => "get") do %>
        <p> 
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Search", :name => nil, class: "btn btn-success 
         " %>
        <%= link_to "Advanced Search", new_search_path, class: "btn btn-info 
         "  %>
        </p> 
      <% end %>


<table class="table table-hover">


  <tbody>
    <% @movies.each do |movie| %>
        <td rowspan="6" width="20%"><%= image_tag movie.image.url, size: "190"  %></td>
        <th width="80%" style="background-color:#40E0D0"><%= link_to movie.name, movie %></th>
        <tr><td>Rate: <div id="star"></div></td></tr>
        <tr><td>Director: <%= movie.director %></td></tr>
        <tr><td>Actors: <%= movie.actors %></td></tr>
        <tr><td>Genre: <%= movie.genre %></td></tr>
        <tr><td>Date: <%= movie.date %></td></tr>
        <% if signed_in? %>
        <% if current_user.admin? %>
        <tr><td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
        </br>
        <% end %>
        <script>
          $('#star').raty({
          readOnly: true,
          score: <%= movie.average_rating %>,
          path: '/assets'
           });
</script>
        <% end %>
        </br>
    <% end %>
  </tbody>
</table>

</br>

<%= link_to 'Add New Movie', new_movie_path, class: "btn-warning btn-large" %>

