

<p id="notice"><%= notice %></p>

<p>
  <strong>Poster:</strong>
  <%= image_tag @movie.image.url %>
</p>


<p>
  <strong>Imdb:</strong>
  <%= @movie.imdb %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>Averate rating</p>
<div id="star"></div>

<% if signed_in? %>
<p>Your rating</p>
<div id="user_star"></div>
<% end %>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Actors:</strong>
  <%= @movie.actors %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @movie.content %>
</p>

<% if signed_in? %>
<h2>Comments</h2>
 <div id="comments">
         <%= render :partial => @movie.comments %>
 </div>


<%= form_for [@movie, Comment.new] do |f| %>
           
        <p>
                <%= f.label :body, "New comment" %><br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>
<% end %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @movie.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
